# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
*.log